openapi: 3.0.0
info:
  contact:
    email: support@alexishr.com
    name: AlexisHR Support
    url: ""
  description: "<h1 id=\"introduction\">Introduction</h1>\r\n<p>\r\n  AlexisHR API\
    \ is currently in preview. This means that small, backward\r\n  incompatible changes\
    \ might be introduced while in preview. The changes will be\r\n  documented and\
    \ communicated.\r\n  <a\r\n    href=\"https://cdn.forms-content.sg-form.com/56c6a65c-90a2-11eb-a700-a6de1aea3a1a\"\
    \r\n    target=\"_blank\"\r\n    ><button>Subscribe to updates</button></a\r\n\
    \  >\r\n</p>\r\n\r\n<h1 id=\"authentication\">Authentication</h1>\r\n<pre class=\"\
    click-to-expand-wrapper is-snippet-wrapper language-undefined\">\r\n<code class=\"\
    is-highlighted language-bash\">curl https://api.alexishr.com/v1/employee \\\r\n\
    \  -H \"Authorization: Bearer &lt;your_access_token&gt;\"</code>\r\n</pre>\r\n\
    <p>\r\n  Authenticate your account when using the API by including your secret\
    \ Access\r\n  Token in the request.\r\n  <a href=\"https://app.alexishr.com/access-tokens\"\
    >Manage your Access Tokens</a\r\n  >.\r\n</p>\r\n<p>\r\n  Authentication is performed\
    \ by passing the Access Token in the Authorization\r\n  header.\r\n</p>\r\n<hr\
    \ />\r\n\r\n<h1 id=\"structure\">Structure</h1>\r\n<p>\r\n  You will find the\
    \ structure of the API to be highly uniform and consistent.\r\n  Typically every\
    \ resource can be accessed via a top level endpoint, such as\r\n  <code>/v1/employee</code>.\
    \ For every such resource, you can perform some of\r\n  the following operations:\r\
    \n</p>\r\n<h2>Operations</h2>\r\n<table>\r\n  <tr>\r\n    <td>GET /v1/:resource</td>\r\
    \n    <td>List all objects of this type</td>\r\n  </tr>\r\n  <tr>\r\n    <td>GET\
    \ /v1/:resource/:id</td>\r\n    <td>Retrieve a resource by id</td>\r\n  </tr>\r\
    \n  <tr>\r\n    <td>POST /v1/:resource</td>\r\n    <td>Create a resource of this\
    \ type</td>\r\n  </tr>\r\n  <tr>\r\n    <td>PATCH /v1/:resource/:id</td>\r\n \
    \   <td>Update the resource by id</td>\r\n  </tr>\r\n  <tr>\r\n    <td>DELETE\
    \ /v1/:resource/:id</td>\r\n    <td>Delete the resource by id</td>\r\n  </tr>\r\
    \n</table>\r\n<hr />\r\n\r\n<h1 id=\"roles\">Roles</h1>\r\n<p>The Access Tokens\
    \ will have owner permission on the account</p>\r\n<hr />\r\n\r\n<h1 id=\"filters\"\
    >Filters</h1>\r\n<p>\r\n  Some of the list endpoints allow to filter results by\
    \ certain conditions.\r\n  Refer to specific resources to find out what criteria\
    \ are allowed. Below is a\r\n  list of the different conditions.\r\n</p>\r\n\r\
    \n<h4 id=\"eq\"><code>$eq</code></h4>\r\n<p>Find all results matching the attribute\
    \ value specified.</p>\r\n<div>\r\n  <pre><code class=\"language-shell\" data-lang=\"\
    shell\">GET /v1/example?filters[fieldName][$eq]=value</code></pre>\r\n</div>\r\
    \n<p>Can also be simplified like this.</p>\r\n<div>\r\n  <pre><code class=\"language-shell\"\
    \ data-lang=\"shell\">GET /v1/example?filters[fieldName]=value</code></pre>\r\n\
    </div>\r\n\r\n<h4 id=\"neq\"><code>$neq</code></h4>\r\n<p>Find all results not\
    \ matching the attribute value specified.</p>\r\n<div>\r\n  <pre><code class=\"\
    language-shell\" data-lang=\"shell\">GET /v1/example?filters[fieldName][$neq]=value</code></pre>\r\
    \n</div>\r\n\r\n<h4 id=\"gt\"><code>$gt</code>, <code>$gte</code></h4>\r\n<p>\r\
    \n  Find all results where the value is more (<code>$gt</code>) or more and equal\r\
    \n  (<code>$gte</code>) to a given value.\r\n</p>\r\n<div>\r\n  <pre><code class=\"\
    language-shell\" data-lang=\"shell\">GET /v1/example?filters[startDate][$gte]=2020-01-01</code></pre>\r\
    \n</div>\r\n<hr />\r\n\r\n<h4 id=\"lt\"><code>$lt</code>, <code>$lte</code></h4>\r\
    \n<p>\r\n  Find all results where the value is less (<code>$lt</code>) or less\
    \ and equal\r\n  (<code>$lte</code>) to a given value.\r\n</p>\r\n<div>\r\n  <pre><code\
    \ class=\"language-shell\" data-lang=\"shell\">GET /v1/example?filters[startDate][$lte]=2020-01-01</code></pre>\r\
    \n</div>\r\n<hr />\r\n\r\n<h4 id=\"in\"><code>$in</code>, <code>$nin</code></h4>\r\
    \n<p>\r\n  Find all results matching (<code>$in</code>) or not matching\r\n  (<code>$nin</code>)\
    \ any of the attribute values specified.\r\n</p>\r\n<div>\r\n  <pre><code class=\"\
    language-shell\" data-lang=\"shell\">GET /v1/example?filters[fieldName][$in][]=value1&filters[fieldName][$in][]=value2</code></pre>\r\
    \n</div>\r\n<hr />\r\n\r\n<h4 id=\"between\"><code>$between</code></h4>\r\n<p>Find\
    \ all results between two values specified.</p>\r\n<div>\r\n  <pre><code class=\"\
    language-shell\" data-lang=\"shell\">GET /v1/example?filters[startDate][$between][]=2020-01-01&filters[startDate][$between][]=2020-12-31</code></pre>\r\
    \n</div>\r\n<hr />\r\n\r\n<h1 id=\"versioning\">Versioning</h1>\r\n<p>\r\n  Each\
    \ version of the API is guaranteed to be compatible with the resources of\r\n\
    \  the same version. When we make breaking changes to the API a new version will\r\
    \n  be published\r\n</p>\r\n<hr />\r\n\r\n<h1 id=\"changelog\">Changelog</h1>\r\
    \n<h3>2023-12-20</h3>\r\n<p>Field [updated] added for filter & select for Get\
    \ Many Employments and Get Many Employees.</p>\r\n<h3>2021-03-15</h3>\r\n<p>First\
    \ draft was published</p>\r\n<hr />\r\n\n# Authentication\n\n<!-- ReDoc-Inject:\
    \ <security-definitions> -->"
  license:
    name: EUL
    url: https://alexishr.com/public-api-license
  termsOfService: https://alexishr.com/terms-of-service
  title: AlexisHR API
  version: v1-preview
  x-konfig-ignore:
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- description: production
  url: https://api.alexishr.com/v1
- description: sandbox
  url: https://api.sandbox.alexishr.com/v1
tags:
- name: employee
- name: department
- name: office
- name: team
- name: employee-team-reference
- name: compensation
- name: employment
- name: employment-type
- name: cost-center
- name: leave
- name: leave-type
- name: child
- name: timesheet-entry
- name: work-week
- name: company
- name: leave-transaction
- name: timesheet
- name: timesheet-entry-type
paths:
  /company:
    get:
      description: Get Many Companies
      operationId: Company_listManyCompanies
      parameters:
      - description: "Select Company fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            type: string
          type: array
        style: form
      - allowReserved: true
        description: "Filters conditions per field. (e.g. `filters[id][$eq]=507f1f77bcf86cd799439011`)"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/Company_listManyCompanies_filters_parameter'
        style: deepObject
      - description: Limit amount of received Companies. (e.g. `limit=20`)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset amount of received Companies. (e.g. `offset=20`)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - allowReserved: true
        description: "Sort received Companies by field. (e.g. `sort[id]=asc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/Company_listManyCompanies_sort_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesGetManyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get Many Companies
      tags:
      - company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company
      x-accepts: application/json
  /company/{id}:
    get:
      description: Get One Company
      operationId: Company_getOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      - description: "Select Company fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetOneResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get One Company
      tags:
      - company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-id
      x-accepts: application/json
  /employee:
    get:
      description: Get Many Employees
      operationId: Employee_listManyEmployees
      parameters:
      - description: "Select Employee fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - title
            - active
            - companyId
            - officeId
            - managerEmployeeId
            - departmentId
            - costCenterId
            - employmentId
            - employmentTypeId
            - employmentCountry
            - compensationId
            - userId
            - userName
            - division
            - organization
            - employeeNumber
            - workEmail
            - workPhone
            - workPhoneSanitized
            - hireDate
            - endDate
            - hasOccupationalPension
            - privateEmail
            - firstName
            - lastName
            - ssn
            - privatePhone
            - privatePhoneSanitized
            - birthDate
            - age
            - nationality
            - gender
            - pronoun
            - created
            - updated
            type: string
          type: array
        style: form
      - description: "Select related Employee resources, comma-separated. (e.g. `relations=office,department`)"
        explode: false
        in: query
        name: relations
        required: false
        schema:
          items:
            enum:
            - office
            - costCenter
            - effectiveCostCenter
            - child
            - department
            - emergencyContact
            - employment
            - employmentType
            - compensation
            - managerEmployee
            - teamReference
            type: string
          type: array
        style: form
      - allowReserved: true
        description: "Filters conditions per field. (e.g. `filters[id][$eq]=507f1f77bcf86cd799439011`)"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/Employee_listManyEmployees_filters_parameter'
        style: deepObject
      - description: Limit amount of received Employees. (e.g. `limit=20`)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset amount of received Employees. (e.g. `offset=20`)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - allowReserved: true
        description: "Sort received Employees by field. (e.g. `sort[id]=asc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/Employee_listManyEmployees_sort_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeesGetManyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get Many Employees
      tags:
      - employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--employee
      x-accepts: application/json
    post:
      description: Create One Employee
      operationId: Employee_createOneEmployee
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmployeeRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Create One Employee
      tags:
      - employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--employee
      x-content-type: application/json
      x-accepts: application/json
  /employee/{id}:
    delete:
      description: Delete One Employee
      operationId: Employee_removeEmployee
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Delete One Employee
      tags:
      - employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--employee-id
      x-accepts: application/json
    get:
      description: Get One Employee
      operationId: Employee_getOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      - description: "Select Employee fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - title
            - active
            - companyId
            - officeId
            - managerEmployeeId
            - departmentId
            - costCenterId
            - employmentId
            - employmentTypeId
            - employmentCountry
            - compensationId
            - userId
            - userName
            - division
            - organization
            - employeeNumber
            - workEmail
            - workPhone
            - workPhoneSanitized
            - hireDate
            - endDate
            - hasOccupationalPension
            - privateEmail
            - firstName
            - lastName
            - ssn
            - privatePhone
            - privatePhoneSanitized
            - birthDate
            - age
            - nationality
            - gender
            - pronoun
            - created
            - updated
            type: string
          type: array
        style: form
      - description: "Select related Employee resources, comma-separated. (e.g. `relations=office,department`)"
        explode: false
        in: query
        name: relations
        required: false
        schema:
          items:
            enum:
            - office
            - costCenter
            - effectiveCostCenter
            - child
            - department
            - emergencyContact
            - employment
            - employmentType
            - compensation
            - managerEmployee
            - teamReference
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetOneResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get One Employee
      tags:
      - employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--employee-id
      x-accepts: application/json
    patch:
      description: Update One Employee
      operationId: Employee_updateOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Update One Employee
      tags:
      - employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--employee-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: Replace One Employee
      operationId: Employee_replaceOneEmployee
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Replace One Employee
      tags:
      - employee
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--employee-id
      x-content-type: application/json
      x-accepts: application/json
  /department:
    get:
      description: Get Many Departments
      operationId: Department_listManyDepartments
      parameters:
      - description: "Select Department fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - companyId
            - name
            - costCenterId
            - effectiveCostCenterId
            - parentId
            type: string
          type: array
        style: form
      - description: "Select related Department resources, comma-separated. (e.g.\
          \ `relations=office,department`)"
        explode: false
        in: query
        name: relations
        required: false
        schema:
          items:
            enum:
            - costCenter
            - effectiveCostCenter
            type: string
          type: array
        style: form
      - allowReserved: true
        description: "Filters conditions per field. (e.g. `filters[id][$eq]=507f1f77bcf86cd799439011`)"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/Department_listManyDepartments_filters_parameter'
        style: deepObject
      - description: Limit amount of received Departments. (e.g. `limit=20`)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset amount of received Departments. (e.g. `offset=20`)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - allowReserved: true
        description: "Sort received Departments by field. (e.g. `sort[id]=asc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/Department_listManyDepartments_sort_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetManyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get Many Departments
      tags:
      - department
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--department
      x-accepts: application/json
    post:
      description: Create One Department
      operationId: Department_createOne
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDepartmentRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Create One Department
      tags:
      - department
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--department
      x-content-type: application/json
      x-accepts: application/json
  /department/{id}:
    delete:
      description: Delete One Department
      operationId: Department_deleteOneDepartment
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Delete One Department
      tags:
      - department
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--department-id
      x-accepts: application/json
    get:
      description: Get One Department
      operationId: Department_getOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      - description: "Select Department fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - companyId
            - name
            - costCenterId
            - effectiveCostCenterId
            - parentId
            type: string
          type: array
        style: form
      - description: "Select related Department resources, comma-separated. (e.g.\
          \ `relations=office,department`)"
        explode: false
        in: query
        name: relations
        required: false
        schema:
          items:
            enum:
            - costCenter
            - effectiveCostCenter
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentGetOneResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get One Department
      tags:
      - department
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--department-id
      x-accepts: application/json
    patch:
      description: Update One Department
      operationId: Department_updateOneDepartment
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDepartmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Update One Department
      tags:
      - department
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--department-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: Replace One Department
      operationId: Department_replaceOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDepartmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Replace One Department
      tags:
      - department
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--department-id
      x-content-type: application/json
      x-accepts: application/json
  /office:
    get:
      description: Get Many Offices
      operationId: Office_listManyOffices
      parameters:
      - description: "Select Office fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - companyId
            - name
            - phone
            - email
            - timezone
            - CFAR
            - SCB
            - SNI
            type: string
          type: array
        style: form
      - allowReserved: true
        description: "Filters conditions per field. (e.g. `filters[id][$eq]=507f1f77bcf86cd799439011`)"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/Office_listManyOffices_filters_parameter'
        style: deepObject
      - description: Limit amount of received Offices. (e.g. `limit=20`)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset amount of received Offices. (e.g. `offset=20`)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - allowReserved: true
        description: "Sort received Offices by field. (e.g. `sort[id]=asc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/Office_listManyOffices_sort_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficesGetManyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get Many Offices
      tags:
      - office
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--office
      x-accepts: application/json
    post:
      description: Create One Office
      operationId: Office_createOneOffice
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfficeRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Create One Office
      tags:
      - office
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--office
      x-content-type: application/json
      x-accepts: application/json
  /office/{id}:
    delete:
      description: Delete One Office
      operationId: Office_deleteOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Delete One Office
      tags:
      - office
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--office-id
      x-accepts: application/json
    get:
      description: Get One Office
      operationId: Office_getOneOffice
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      - description: "Select Office fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - companyId
            - name
            - phone
            - email
            - timezone
            - CFAR
            - SCB
            - SNI
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeGetOneResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get One Office
      tags:
      - office
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--office-id
      x-accepts: application/json
    patch:
      description: Update One Office
      operationId: Office_updateOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfficeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Update One Office
      tags:
      - office
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--office-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: Replace One Office
      operationId: Office_replaceOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfficeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Replace One Office
      tags:
      - office
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--office-id
      x-content-type: application/json
      x-accepts: application/json
  /team:
    get:
      description: Get Many Teams
      operationId: Team_listTeams
      parameters:
      - description: "Select Team fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - companyId
            - name
            - description
            - bgColor
            - fgColor
            type: string
          type: array
        style: form
      - allowReserved: true
        description: "Filters conditions per field. (e.g. `filters[id][$eq]=507f1f77bcf86cd799439011`)"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/Team_listTeams_filters_parameter'
        style: deepObject
      - description: Limit amount of received Teams. (e.g. `limit=20`)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset amount of received Teams. (e.g. `offset=20`)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - allowReserved: true
        description: "Sort received Teams by field. (e.g. `sort[id]=asc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/Team_listTeams_sort_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsGetManyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get Many Teams
      tags:
      - team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--team
      x-accepts: application/json
    post:
      description: Create One Team
      operationId: Team_createOneTeam
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Create One Team
      tags:
      - team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--team
      x-content-type: application/json
      x-accepts: application/json
  /team/{id}:
    delete:
      description: Delete One Team
      operationId: Team_deleteOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Delete One Team
      tags:
      - team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--team-id
      x-accepts: application/json
    get:
      description: Get One Team
      operationId: Team_getOneTeam
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      - description: "Select Team fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - companyId
            - name
            - description
            - bgColor
            - fgColor
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGetOneResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get One Team
      tags:
      - team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--team-id
      x-accepts: application/json
    patch:
      description: Update One Team
      operationId: Team_updateTeam
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Update One Team
      tags:
      - team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--team-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: Replace One Team
      operationId: Team_replaceTeam
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Replace One Team
      tags:
      - team
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--team-id
      x-content-type: application/json
      x-accepts: application/json
  /employee-team-reference:
    get:
      description: Get Many EmployeeTeamReferences
      operationId: Employeeteamreference_getMany
      parameters:
      - description: "Select EmployeeTeamReference fields, comma-separated. (e.g.\
          \ `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - companyId
            - teamId
            - userId
            - employeeId
            type: string
          type: array
        style: form
      - description: "Select related EmployeeTeamReference resources, comma-separated.\
          \ (e.g. `relations=office,department`)"
        explode: false
        in: query
        name: relations
        required: false
        schema:
          items:
            enum:
            - employee
            - team
            - user
            type: string
          type: array
        style: form
      - allowReserved: true
        description: "Filters conditions per field. (e.g. `filters[id][$eq]=507f1f77bcf86cd799439011`)"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/Employeeteamreference_getMany_filters_parameter'
        style: deepObject
      - description: Limit amount of received EmployeeTeamReferences. (e.g. `limit=20`)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset amount of received EmployeeTeamReferences. (e.g. `offset=20`)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - allowReserved: true
        description: "Sort received EmployeeTeamReferences by field. (e.g. `sort[id]=asc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/Employeeteamreference_getMany_sort_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeTeamReferencesGetManyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get Many EmployeeTeamReferences
      tags:
      - employee-team-reference
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--employee-team-reference
      x-accepts: application/json
    post:
      description: Create One EmployeeTeamReference
      operationId: Employeeteamreference_createOneEmployeeTeamReference
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmployeeTeamReferenceRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeTeamReferenceResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Create One EmployeeTeamReference
      tags:
      - employee-team-reference
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--employee-team-reference
      x-content-type: application/json
      x-accepts: application/json
  /employee-team-reference/{id}:
    delete:
      description: Delete One EmployeeTeamReference
      operationId: Employeeteamreference_deleteOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Delete One EmployeeTeamReference
      tags:
      - employee-team-reference
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--employee-team-reference-id
      x-accepts: application/json
    get:
      description: Get One EmployeeTeamReference
      operationId: Employeeteamreference_getOneEmployeeTeamReference
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      - description: "Select EmployeeTeamReference fields, comma-separated. (e.g.\
          \ `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - companyId
            - teamId
            - userId
            - employeeId
            type: string
          type: array
        style: form
      - description: "Select related EmployeeTeamReference resources, comma-separated.\
          \ (e.g. `relations=office,department`)"
        explode: false
        in: query
        name: relations
        required: false
        schema:
          items:
            enum:
            - employee
            - team
            - user
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeTeamReferenceGetOneResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get One EmployeeTeamReference
      tags:
      - employee-team-reference
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--employee-team-reference-id
      x-accepts: application/json
    patch:
      description: Update One EmployeeTeamReference
      operationId: Employeeteamreference_updateOneEmployeeTeamReference
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeTeamReferenceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeTeamReferenceResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Update One EmployeeTeamReference
      tags:
      - employee-team-reference
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--employee-team-reference-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: Replace One EmployeeTeamReference
      operationId: Employeeteamreference_replaceOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeTeamReferenceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeTeamReferenceResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Replace One EmployeeTeamReference
      tags:
      - employee-team-reference
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--employee-team-reference-id
      x-content-type: application/json
      x-accepts: application/json
  /compensation:
    get:
      description: Get Many Compensations
      operationId: Compensation_getManyCompensations
      parameters:
      - description: "Select Compensation fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - employeeId
            - companyId
            - amount
            - effectiveDate
            - baseAmount
            - exchangeRate
            - currency
            - payoutDay
            - payoutPeriod
            - payoutFrequency
            - salarySchedule
            - paidOvertime
            - note
            type: string
          type: array
        style: form
      - allowReserved: true
        description: "Filters conditions per field. (e.g. `filters[id][$eq]=507f1f77bcf86cd799439011`)"
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/Compensation_getManyCompensations_filters_parameter'
        style: deepObject
      - description: Limit amount of received Compensations. (e.g. `limit=20`)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Offset amount of received Compensations. (e.g. `offset=20`)
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - allowReserved: true
        description: "Sort received Compensations by field. (e.g. `sort[id]=asc`)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/Compensation_getManyCompensations_sort_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompensationsGetManyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get Many Compensations
      tags:
      - compensation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--compensation
      x-accepts: application/json
    post:
      description: Create One Compensation
      operationId: Compensation_createOneCompensation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompensationRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompensationResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Create One Compensation
      tags:
      - compensation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--compensation
      x-content-type: application/json
      x-accepts: application/json
  /compensation/{id}:
    delete:
      description: Delete One Compensation
      operationId: Compensation_deleteOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Delete One Compensation
      tags:
      - compensation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--compensation-id
      x-accepts: application/json
    get:
      description: Get One Compensation
      operationId: Compensation_getOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      - description: "Select Compensation fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - employeeId
            - companyId
            - amount
            - effectiveDate
            - baseAmount
            - exchangeRate
            - currency
            - payoutDay
            - payoutPeriod
            - payoutFrequency
            - salarySchedule
            - paidOvertime
            - note
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompensationGetOneResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Get One Compensation
      tags:
      - compensation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--compensation-id
      x-accepts: application/json
    patch:
      description: Update One Compensation
      operationId: Compensation_updateOne
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompensationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompensationResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Update One Compensation
      tags:
      - compensation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--compensation-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: Replace One Compensation
      operationId: Compensation_replaceOneCompensation
      parameters:
      - description: Resource Id
        example: 507f1f77bcf86cd799439011
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 507f1f77bcf86cd799439011
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompensationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompensationResponseMapped'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - bearer: []
      summary: Replace One Compensation
      tags:
      - compensation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--compensation-id
      x-content-type: application/json
      x-accepts: application/json
  /employment:
    get:
      description: Get Many Employments
      operationId: Employment_listManyEmployments
      parameters:
      - description: "Select Employment fields, comma-separated. (e.g. `select=id,firstName,lastName,workEmail`)"
        explode: false
        in: query
        name: select
        required: false
        schema:
          items:
            enum:
            - id
            - companyId
            - employeeId
            - typeId
            - startDate
            - endDate
            - updated
            - effectiveEndDate
            - terminated
            - rate
            - note
            - country
            type: string
          type: array
        style: form
      - description: "Select related Employment resources, comma-separated. (e.g.\
          \ `relations=office,department`)"
        explode: false
        in: query
        name: relations
        required: false
        schema:
          items:
            enum:
            - type
            - employee
            type: string
          type: array
        style: form
      - allowReserved: true
        description: "Filters conditions per field. (e.g. `filters[id][$eq]=507f1f77bcf86cd799439011`)"
        explode: true
        in: query
[...]
